* {
    box-sizing: border-box;
}

label {
    color: black;
    padding: 11px 12px 11px 2px;
    display: inline-block;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
    border: 2px solid #ccc;
    resize: vertical;
    padding: 12px;
    border-radius: 4px;
    width: 100%;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

form {
    padding: 20px;
    color: black;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.btnSubmit {
    background-color: #4c74af;
    color: white;
    padding: 12px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.btnReset {
    background-color: #c53030;
    color: white;
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    transition: all 0.2s ease-in-out;
}

.btnReset:hover {
    background-color: #e74c3c;
}

#btnSearch {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    /* float: right; */
}

a.hyperlink {
    color: blue;
    padding: 12px 20px;

 
    
}

a.hyperlink:hover {
    color: red;
    padding: 12px 20px;
    
    
}

a.register {
    color: black;
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

a.register:hover {
    color: blue;
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.shortcell {
    text-align: center;
}

.btnCRUD {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 2px;
    width: 140px;
    height: 40px;
}

.btnCRUD:hover {
    background-color: gray;
}


@media screen and (max-width: 560px) {
    .row {
        margin-top: 0;
        width: 100%;
    }
}

form .error {
    color: #4CAF50;
}

table {
    border-collapse: separate;
    border: none;
    margin: 10px;
}


