* {
    box-sizing: border-box;
}

label {
    color: black;
    padding: 11px 12px 11px 2px;
    display: inline-block;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
    border: 2px solid #ccc;
    resize: vertical;
    padding: 12px;
    border-radius: 4px;
    width: 100%;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

form {
    padding: 20px;
    color: black;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.btnSubmit {
    background-color: #4c74af;
    color: white;
    padding: 12px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.btnReset {
    background-color: #c53030;
    color: white;
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    transition: all 0.2s ease-in-out;
}

.btnReset:hover {
    background-color: #e74c3c;
}

a.hyperlink {
    color: blue;
    padding: 12px 20px;

}

a.hyperlink:hover {
    color: red;
    padding: 12px 20px;

}

a.register {
    color: black;
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

a.register:hover {
    color: blue;
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.shortcell {
    text-align: center;
}

.btnCRUD {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 2px;
    width: 140px;
    height: 40px;
}

.btnCRUD:hover {
    background-color: gray;
}


@media screen and (max-width: 560px) {
    .row {
        margin-top: 0;
        width: 100%;
    }
}

form .error {
    color: #4CAF50;
}

table {
    border-collapse: separate;
    border: none;
    margin: 10px;
    width: 100%;
}

td img {
    width: 100px;
    height: 100px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
    position: relative;
}

table,
th,
td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
    z-index: 2;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

